
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
    //gkjsdkfaf
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f8f7fc;
  color: #171717;
}

button {
  font-family: inherit;
  cursor: pointer;
}
//fhgj
a {
  text-decoration: none;
  color: inherit;
}